# Compiled binaries
*.exe
*.o
*.out
a.out
*.class

# Build directories
build/
bin/

# IDE files
.vscode/
.idea/
*.user


# Environment files
.env
.env.*

# Testing / Data files
*.json

# OS files
.DS_Store
Thumbs.db


